.uno{
    background-color: #24305eda;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.dos{
    background-color: #24305E;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}