<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating my-1 mx-2" href="https://www.facebook.com/groups/210733965618943/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- TEC -->
        <a class="btn btn-outline-light btn-floating my-1 mx-2 font-weight-bold" href="https://www.tec.ac.cr/" role="button"
          >TEC</a>
  
        <!-- Foro IC -->
        <a class="btn btn-outline-light btn-floating my-1 mx-2" href="http://ec.tec.ac.cr/" role="button"
          ><i class="fab fa-google"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-5">
        <p>
            WebSite perteneciente a la comunidad de estudiantes de los cursos Introducción y Taller de Programación en la escuela de Ingeniería en Computación del Tecnológico de Costa Rica.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <h5 class="text-uppercase">Creadores</h5>
  
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Diego Mora Rojas</a>
                </li>
                <li>
                    <a href="https://github.com/Melania227" class="text-white">Melania Morales Serrano</a>
                </li>
                <li>
                    <a href="https://github.com/paochsanchez" class="text-white">Paola Chinchilla Sánchez</a>
                </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <h5 class="text-uppercase">Otras páginas TEC</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://www.tec.ac.cr/" class="text-white">TEC Página Oficial</a>
              </li>
              <li>
                <a href="https://tecdigital.tec.ac.cr/" class="text-white">TecDigital</a>
              </li>
              <li>
                <a href="http://ec.tec.ac.cr/" class="text-white">Foro Ingeniería en Computación</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="http://ec.tec.ac.cr/">Escuela de Ingeniería en Computación TEC</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->