<div class="text-center px-5">
    <h1 class="text-center p-5">TITLE</h1>

    <div class="row uno pt-5">
        <div class="text-center p-5 text-white">
            <p>Prueba</p>
            <p>Prueba</p>
            <p>Prueba</p>
            <p>Prueba</p>
            <p>Prueba</p>
        </div>
        
        <div class="row p-5 m-0 dos">
            <div class="text-center p-5 text-white">
                <p>Prueba</p>
                <p>Prueba</p>
                <p>Prueba</p>
                <p>Prueba</p>
                <p>Prueba</p>
            </div>
        </div>
    </div>
</div>