<!-- Footer -->
<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating my-1 mx-2" href="https://www.facebook.com/groups/210733965618943/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- TEC -->
        <a class="btn btn-outline-light btn-floating my-1 mx-2 font-weight-bold" href="https://www.tec.ac.cr/" role="button"
          >TEC</a>
  
        <!-- Foro IC -->
        <a class="btn btn-outline-light btn-floating my-1 mx-2" href="http://ec.tec.ac.cr/" role="button"
          ><i class="fab fa-google"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-2">
        <p>
            WebSite perteneciente a la comunidad de estudiantes de los cursos Introducción y Taller de Programación en la escuela de Ingeniería en Computación del Tecnológico de Costa Rica.
        </p>
      </section>
      <!-- Section: Text -->

    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="http://ec.tec.ac.cr/">Escuela de Ingeniería en Computación TEC</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->