.mainTitle{
    color: #1C1D4B;
    font-size: 45px !important;
    margin-bottom: 10px;
    font-weight: 550;
}

.container-fluid{
    background-color: #979eb8;
    background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
}

.txt{
    font-size: 24px;
    font-weight: 500;
}

p{
    white-space: pre-wrap;
}
/* .card-title{

}
 */
.card-title{
    font-size: 25px;
    color: #1D1E4E !important;
}

.card:hover{
    background-color: #1D1E4E;
    color: white;
    box-shadow: 0 5px 15px #1D1E4E;
    cursor: pointer;
}

.p{
    border-top: 3px solid #1D1E4E;
    margin-left: 25%;
    margin-right: 25%;
}


.card:hover .card-title{
    color: #e8e8f7 !important;
}