.mainTitle{
    color: #1C1D4B;
    font-size: 45px !important;
    margin-bottom: 10px;
    font-weight: 550;
}

.txt{
    font-size: 24px;
    font-weight: 500;
}

.calific{
    background-color: #979eb8;
background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.p{
    border-top: 3px solid #1D1E4E;
    margin-left: 25%;
    margin-right: 25%;
}

.card:hover{
    background-color: #1D1E4E;
    color: white;
    box-shadow: 0 5px 15px #1D1E4E;
}