<section class="exercise-form p-3">
    <form [formGroup]="form" (ngSubmit)="guardar()">
        <div class="card form-group" id="info-g">
            <h3>Información General</h3>
            <p></p>
            <div class="row">
                <div class="col m-1">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="name"
                        [class.is-invalid]="" />
                    <small *ngIf="" class="text-danger">
                        Debe tener al menos 5 letras
                    </small>
                </div>
                <div class="col m-1">
                    <label class="form-label">Categoría</label>
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="section"
                        [class.is-invalid]="" />
                    <small *ngIf="" class="text-danger">
                        Debe tener al menos 5 letras
                    </small>
                </div>
            </div>
            <div class=" row">
                <div class="m-1">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control text-area" formControlName="details"></textarea>
                </div>
            </div>
            <div class=" row">
                <div class="m-1">
                    <label class="form-label">Llamado de la función</label>
                    <input class="form-control" type="text" placeholder="Nombre" formControlName="call"
                        [class.is-invalid]="" />
                    <small *ngIf="" class="text-danger">
                        Debe tener al menos 5 letras
                    </small>
                </div>
            </div>
        </div>

        <div class="Solution" [formGroup]="solution">
            <div class="card form-group">
                <h3>Código</h3>
                <p></p>
                <div class="container-b"></div>
                <div class="row">
                    <label class="form-label">Código</label>
                    <div class="form-control">
                        <ngs-code-editor theme="vs" [readOnly]="false" [codeModel]="codeModel">
                        </ngs-code-editor>
                    </div>
                    <small *ngIf="" class="text-danger">
                        Debe tener al menos 5 letras
                    </small>
                </div>
                <div class="row">
                    <input type="file" id="actual-btn" (change)="change($event)" hidden />
                    <label class="btn btn-primary " for="actual-btn">Cargar archivo</label>
                    <div class="form-control"><span id="file-chosen ">No ha seleccionado una archivo</span> </div>
                </div>
            </div>
            <div class="card form-group">
                <h3>Inputs</h3>
                <p></p>
                <div formArrayName="inputs" *ngFor="let control of inputs.controls; let i = index">
                    <div class="form-group" [formGroupName]="i">
                        <div class="row">
                            <div class="col-5 m-1">
                                <label class="form-label">Nombre</label>
                                <input class="form-control" formControlName="name" placeholder="Nombre" />
                            </div>
                            <div class="col-5 m-1">
                                <label class="form-label">Tipo</label>
                                <input class="form-control" formControlName="type" placeholder="Tipo" />

                            </div>
                            <div class="col align-items-end" style="display: flex;">
                                <div class="row ">
                                    <div class="col" *ngIf="i!=0" >
                                        <button type="button" class="btn btn-primary mt-auto mb-1" 
                                            (click)="removeInput(i)">
                                            x
                                        </button>
                                    </div>
                                    <div class="col" *ngIf="i==(inputs.controls.length)-1"  > 
                                        <button type="button" class="btn btn-primary mt-auto mb-1" 
                                            (click)="addInput()">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card form-group ">
                <h3>Outputs</h3>
                <p></p>
                <div formArrayName="outputs" *ngFor="let control of outputs.controls; let i = index">
                    <div class="form-group" [formGroupName]="i">
                        <div class="row">
                            <div class="col-5 m-1">
                                <label class="form-label">Nombre</label>
                                <input class="form-control" formControlName="name" placeholder="Nombre" />
                            </div>
                            <div class="col-5 m-1">
                                <label class="form-label">Tipo</label>
                                <input class="form-control" formControlName="type" placeholder="Tipo" />
                            </div>
                            <div class="col align-items-end" style="display: flex;">
                                <div class="row">
                                    <div class="col" *ngIf="i!=0">
                                        <button type="button" class="btn btn-primary  mb-1" 
                                            (click)="removeOutput(i)">
                                            x
                                        </button>
                                    </div>
                                    <div class="col" *ngIf="i==(inputs.controls.length)-1">
                                        <button type="button" class="btn btn-primary  mb-1" 
                                            (click)="addOutput()">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card form-group">
            <h3>Ejemplos</h3>
            <p></p>
            <div formArrayName="examples">
                <div *ngFor="let control of examples.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Llamada de Ejemplo</label>
                                <input class="form-control" type="text" placeholder="Nombre" formControlName="call"
                                    [class.is-invalid]="" />
                            </div>
                            <div class="col">
                                <label class="form-label">Resultado</label>
                                <input class="form-control" type="text" placeholder="Nombre" formControlName="result"
                                    [class.is-invalid]="" />
                                <small *ngIf="" class="text-danger">
                                    Debe tener al menos 5 letras
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <label class="form-label">Comentario</label>
                            <textarea class="form-control text-area" formControlName="comment"></textarea>
                            <small *ngIf="" class="text-danger">
                                Debe tener al menos 5 letras
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary  mb-5" (click)="addExample()">
                + Agregar
            </button>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col">
                <button type="submit" class="btn btn-outline-primary ">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</section>